/* Management Job */
.management_job_component {
    text-align: center;
    margin: 0;
    padding: 2rem 8rem 4rem 8rem;
}

.management_job_component h1 {
    margin-top: 0;
    margin-bottom: 2.5rem;
    color: rgb(255, 130, 40);
    text-shadow: 2px 5px 5px #d9d9d9;
}

.management_payment_details_false {
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, .95);
}

.management_payment_details {
    padding: 3rem;
    padding-top: 2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, .95);
}

h3 {
    text-align: left;
    margin: 0;
    color: rgb(247, 116, 23);
}


/* Chart */
.chart_component_status {
    align-items: start;
    column-gap: 2rem;
    margin-top: 1.5rem;
}

.chart_component {
    flex: 1;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px #cccccc;
    background-color: #ffffff;
}

.chart_component_info, .chart_component_info2 {
    flex: .3;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #d9d9d9;
    background-color: #ffffff;
    line-height: 2rem;
    text-align: left;
}

.chart_component_info2 {
    flex: .4;
}

.chart_component_box {
    width: .7rem;
    height: .7rem;
    margin-right: 1rem;
}

hr {
    width: 100%;
    margin: 3rem 0;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

/* Service - time */
.management_service {
    text-align: left;
}

.management_service_title {
    font-weight: 800;
    margin: 1rem 0;
}

.management_service_add, .management_service_cancel {
    width: 4rem;
    border-radius: .5rem;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(255, 130, 40, .8);
}

.management_service_cancel {
    background-color: #cccccc;
    margin-right: 1rem;
}

.management_service_time_create {
    margin-bottom: 1rem;
    justify-content: space-between;
}

.management_service_time_create_content {
    height: 2rem;
    line-height: 2rem;
}

.management_service_time_create input {
    min-height: 0;
    width: 10rem;
    height: 2rem;
    margin:0 3rem 0 1rem;
    border-radius: .5rem;
    padding-left: 1rem;
}

.management_service_time {
    padding: 4px;
    padding-bottom: 1rem;
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    scroll-behavior: smooth;
}

.management_service_time_create_description {
    margin-top: .5rem;
}

.management_service_time_create_description textarea {
    width: 95%;
    height: 2rem;
    border-radius: .5rem;
    padding: 1rem;
    outline: none;
    border: 1px solid #d9d9d9;
}

/* Scroll timeline */
.management_service_time::-webkit-scrollbar {
  height: 6px;
}

.management_service_time::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cleaning service */
.management_service_form {
    flex: 0 0 auto;
    width: 11rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 14px;
    line-height: 1.5rem;
    box-shadow: 2px 2px 2px 2px #d9d9d9;
    position: relative;
}

.management_service_form_description {
    padding-top: .3rem;
    margin-top: .3rem;
    border-top: 1px solid #d9d9d9;
}

.service_cleaning {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #d9d9d9;
}

.service_cleaning img {
    width: 15rem;
    margin-right: 2rem;
}

.service_cleaning_name {
    font-size: .9rem;
    font-weight: bold;
}

.service_cleaning ul {
    line-height: 1.5rem;
    font-size: .8rem;
}

/* Healthcare service */

/* Maintenance service */
