<div class="login_layout center">
  <form class="login_component">
    <h2>Quên mật khẩu</h2>

    <label for="email">Email:</label> <br/>
    <div class="login_form_input center_y">
      <img src="assets/email.png" />
      <input 
        [(ngModel)]="account.email" 
        placeholder="Nhập email..."
        name="email"
      />
    </div>

    <label for="code">Mã xác thực:</label> <br/>
    <div class="login_form_input center_y">
      <img src="assets/password.png" />
      <input 
        [(ngModel)]="account.code" 
        placeholder="Nhập mã xác thực..."
        name="code"
      />

      <button type="button" class="btn_send_code">
        <img src="assets/send.png" />
      </button>
    </div>
    <a [routerLink]="['/login']">Đăng nhập?</a>
    <button type="submit" class="btn_submit">Xác nhận</button>
  </form>
</div>