<div class="management_payment_details">
    <h3>1. Thông tin hóa đơn:</h3>
    <div class="chart_component_status space_between">
        <div class="chart_component">
            <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="'bar'">
            </canvas>
        </div>

        <div class="chart_component_info">
            <div class="center_y" *ngFor="let labelBar of labelsBar; let i = index">
                <div class="chart_component_box" [style.backgroundColor]="colorsBar[i]" ></div>
                <div>{{ labelBar }}</div>
            </div>
            <div class="center_y">
                <div class="chart_component_box" style="background-color: #adaaaaff;" ></div>
                <div>Tổng số yêu cầu</div>
            </div>
        </div>
    </div>
</div>

<!-- <hr/> -->

<!-- <div class="management_payment_details">
    <h3>2. Thông tin thanh toán:</h3>
    <div class="chart_component_status space_between">
        <div class="chart_component_info2 space_between">
            <div>
                <div class="center_y" *ngFor="let labelPie of labelsPie; let i = index">
                    <div class="chart_component_box" [style.backgroundColor]="colorsPie[i]" ></div>
                    <div>{{ labelPie }}:</div>
                </div>
                <div class="center_y">
                    <div class="chart_component_box" style="background-color: #adaaaaff;" ></div>
                    <div>Tổng số:</div>
                </div>
            </div>
            <div style="text-align: right;">
                <div *ngFor="let quantityPie of quantitiesPie; let i = index">
                    <div>{{ quantityPie }}/{{ getAllPayment() }}</div>
                </div>
                <div>{{ getAllPayment() }}</div>
            </div>
        </div>

        <div class="chart_component">
            <canvas baseChart
                [data]="pieChartData"
                [options]="pieChartOptions"
                [type]="'pie'">
            </canvas>
        </div>
    </div>
</div> -->